body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 20px 20px 0px 20px;
}

h1 {
    font-size: 42px;
    padding: 15px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #0D0D0D;
}

p {
    font-size: 24px;
    padding: 10px 0px 0px 10px;
}

img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #ffffff;
}

div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #ffffff;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-color: #ffffff
    border-bottom: 2px solid;
    border-left: 5px solid;
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-color: #ffffff
    border-right: 5px solid;
    border-top: 2px solid;
}

.blue h1,
.blue h2,
.blue p {
    color: #C4C4C4;
}

.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-color: #ffffff
    border-bottom: 2px solid;
    border-left: 5px solid;
}

.yellow h2 {
    color: #000000;
}

.yellow p {
    color: #707070;
}

.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid;
    border-color: #ffffff
    border-top: 2px solid;
}

footer {
    background: linear-gradient(to right, #000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px solid #ffffff;
}

footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px;
}
